/* *{
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
}
#form{
    text-align: center;
    margin: 50px auto;


}
.container {
    width: 90%;
    margin: 50px auto;
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 20%;
    border: 1px solid #ccc;
    margin-bottom: 50px;
}
.card__header {
    text-align: center;
}
.card__body {
    text-align: center;
}
 */
